@import './reset.css';

header{
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}
header nav{
  width: 490px;
}
header nav>ul{
  display: flex;
  justify-content: space-between;
}
header nav>ul>li>a{
  color: #000;
}

/* wrap */
/* box01 */
#wrap>section:nth-of-type(1){
  background-color: #161616;
}
#wrap>section:nth-of-type(1)>figure{
  width: 1170px;
  height: 490px;
  padding: 70px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
#wrap>section:nth-of-type(1)>figure>img{
  width: 650px;
}
#wrap>section:nth-of-type(1)>figure>figcaption{
  width: 450px;
  margin: 90px 0 0 0;
  color: #fff;
}
#wrap>section:nth-of-type(1)>figure>figcaption ul>li:nth-child(1){
  font-size: 32px;
  margin-bottom: 27px;
}
#wrap>section:nth-of-type(1)>figure>figcaption ul>li:nth-child(1)>span{
  color: #fdce16;
}
#wrap>section:nth-of-type(1)>figure>figcaption ul>li:nth-child(2){
  margin-bottom: 54px;
  line-height: 24px;
}
#wrap>section:nth-of-type(1)>figure>figcaption ul>li:nth-child(3)>button{
  width: 140px;
  height: 50px;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
#wrap>section:nth-of-type(1)>figure>figcaption ul>li:nth-child(3)>button:first-child{
  background-color: transparent;
  color: #fff;
}
#wrap>section:nth-of-type(1)>figure>figcaption ul>li:nth-child(3)>button:last-child{
  background-color: #fdce16;
}

/* box02 */
.box02>div{
  width: 1170px;
  margin: 0 auto;
  padding: 66px 0 83px;
}
.box02>div>h3{
  font-size: 20px;
  position: relative;
  margin-bottom: 60px;
}
.box02>div>h3>span{
  position: absolute;
  top: 0; left: 0;
}
.box02>div>h3>span:nth-child(1){
  width: 358px;
  height: 31px;
  border-bottom: 1px solid #d9d9d9;
}
.box02>div>h3>span:nth-child(2){
  width: 27px;
  height: 30px;
  border-bottom: 3px solid #272727;
}
.box02>div>h3>span:nth-child(3){
  width: 27px;
  height: 30px;
  left: 27px;
  border-bottom: 3px solid #fdce16;
}
.box02>div>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box02>div>div>figure{
  width: 257px;
}
.box02>div>div>figure img{
  width: 100%;
  margin-bottom: 26px;
}
.box02>div>div>figure>figcaption{
  text-align: center;
}
.box02>div>div>figure>figcaption>dl>dd:nth-of-type(1){
  color: #9e9e9e;
  margin-bottom: 19px;
}
.box02>div>div>figure>figcaption>dl>dd:nth-of-type(2){
  color: #fdce16;
  margin-bottom: 23px;
}
.box02>div>div>figure>figcaption>dl>dd:nth-of-type(3)>button{
  width: 123px;
  height: 31px;
  border: none;
  border-radius: 5px;
  background-color: #fdce16;
}
.box02>div>div>figure>figcaption>dl>dd:nth-of-type(3)>button:hover{
  background-color: #161616;
  color: #fff;
  cursor: pointer;
}

/* box03 */
.box03{
  background-color: #2c2c2c;
  padding: 108px 0 115px;
}
.box03>div{
  width: 1170px;
  margin: 0 auto;
}
.box03>div>p{
  color: #fff;
}
.box03>div>p:nth-of-type(1){
  font-size: 30px;
  margin-bottom: 15px;
}
.box03>div>p:nth-of-type(2){
  font-size: 18px;
  margin-bottom: 30px;
}
.box03>div>p:nth-of-type(3){
  width: 520px;
  line-height: 23px;
  color: #9e9e9e;
  margin-bottom: 40px;
}
.box03>div>button{
  width: 147px;
  height: 40px;
  background-color: #fdce16;
  border: none;
  border-radius: 5px;
}

/* box04 */
.box04{
  padding: 80px 0;
}
.box04>div{
  width: 1170px;
  margin: 0 auto;
}
.box04>div>h3{
  font-size: 20px;
  position: relative;
  margin-bottom: 63px;
}
.box04>div>h3>span{
  position: absolute;
  top: 0; left: 0;
  width: 358px;
  height: 31px;
  border-bottom: 1px solid #d9d9d9;
}
.box04>div>ul{
  width: 430px;
  display: flex;
  margin-bottom: 46px;
}
.box04>div>ul>li{
  padding: 0 29px;
}
.box04>div>ul>li>a{
  font-size: 14px;
  line-height: 32px;
  color: #000;
}
.box04>div>ul>li:first-child{
  background-color: #fdce16;
}
.box04>div>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box04>div>div>figure{
  width: 257px;
}
.box04>div>div>figure>figcaption{
  text-align: center;
}