// mixin
@mixin layout($justify:space-between,$align:center,$direction:row,$wrap:nowrap){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin center{
  margin: 0 auto;
}
@mixin border($size:1px, $color:#9e9e9e){
  border-bottom: $size solid $color;
}
@mixin button($w:123px,$h:31px,$color:#fdce16){
  width: $w;
  height: $h;
  background-color: $color;
}
@mixin spanLine($w:358px,$h:31px,$top:0,$left:0,){
  position: absolute;
  top: $top;
  left: $left;
  width: $w;
  height: $h;
  @content;
}