// color
$color-white: #fff;
$color-black: #000;
$color-basic: #9e9e9e;
$color-main: #fdce16;

// size
$size-full: 100%;
$size-small: 5px;
$size-normal: 10px;
$size-large: 15px;
$size-content: 1170px;
$size-figure: 257px;
$size-buttonW: 123px;
$size-buttonH: 31px;

// font
$font-normal: 14px;
$font-large: 20px;
$font-big: 32px;