@use './variable' as *;
@use './mixin' as *;

#top{
  position: fixed;
  bottom: 20px;
  right: 30px;
  div{
    width: 50px;
    height: 50px;
    background-color: $color-black;
    @include layout($justify:center);
    border: 1px solid $color-white;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px $color-basic,
    1px 1px 3px inset $color-basic;
    i{
      color: $color-white;
    }
  }
}